{% extends 'user/base.html' %}

{% block title %}
    register
{% endblock %}

{% block body %}
    <h1>User Register</h1>
    <form action="{{url_for('user.register')}}" method='post'><br />
        <input type='text' name='username' placeholder="username"/><br />
        <input type='password' name='pwd' placeholder="password"/><br />
        <input type='password' name='repwd' placeholder="confirm password"/><br />
        <input type='text' name='phone' placeholder="phone number"/><br />
        <button type='submit'>Register</button>
    </form>
{% endblock %}